/* EXERCISES ASSIGNMENT */
.image-profile-exercises {
  width: 40%;
}

#stroke-text {
  top: -150px;
  left: 300px;
}

.single-assignment:hover {
  background-color: #e8bc7f;
}

.selected-assignment {
  background-color: #e8bc7f;
}

.hover-request:hover {
  background-color: #68d89b;
}

.add-icons {
  width: 15%;
}

.add-button:hover {
  background-color: hsl(48, 82%, 57%) !important;
}

#assigned-programs-section {
  height: 430px;
}

#your-patient-section {
  height: 430px !important;
}

/* ASSIGNMENTS BY PATIENT */

.assignment-column-patient {
  height: 650px;
}

.description-add-exercise {
  font-size: 0.9rem;
  height: 113px;
}

.add-icon-exercise {
  width: 100px;
}

.col-exercise {
  height: 400px;
}

#all-exercises-section {
  height: 850px;
}

/* EXERCISES BY PATIENT */

.description-paragraph {
  font-size: 0.9rem;
  padding: 0em 7em;
}
