.brownish-button {
  background-color: #ce8013 !important;
  /* background-color: #9a600e !important; */
  border: none !important;
  @media print {
    display: none;
  }
}
.brownish-button:hover {
  background-color: #ce9d58 !important;
}

.brownish-button-2 {
  background-color: #ce9d58 !important;
  /* background-color: #9a600e !important; */
  border: none !important;
}

.greenish-button {
  background-color: $greenish-2;
  color: white;
  &:hover {
    background-color: $greenish;
  }
}

.add-exercise-button {
  background-color: #e8bc7f;
  &:hover {
    background-color: #d8a358;
  }
}
