.profile-image {
  width: 300px;
}

#biography-section {
  height: 300px;
}

#profile-physio-section {
  height: 556px;
}

#form-control-biography {
  height: 100px;
}
.link-request-physio-section {
  height: 556px;
}
