.physio-profile-image-card {
  width: 200px;
}

.physio-profile-image-card-fallback {
  width: 200px;
  padding: 1em 1em;
}

.physiotherapists-container {
  @media screen and (min-width: 700px) {
    width: 70% !important;
  }
}
